.selection-pane {
  position: absolute;
  bottom: 0px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  right: 0;
  z-index: 2000;
  background-color: #f4f4f4;
}

div.selection-pane-private {
  background-color: #eaeaea;
}

.selection-pane .card-content {
  overflow: auto;
  font-size: 15px;
  text-align: left;
}

div.selection-pane-card-actions {
  padding: 1em;
  padding-top: 0;
}

div.specific-actions {
  margin-left: 0px;
}

button.selection-pane-button {
  color: #ee7b15;
  width: 42%;
  margin-right: 18px;
  margin-bottom: 8px;
}

.no-text-transform {
  text-transform: none;
}

.selection-pane .card-content
{
  padding-bottom: 0.25em;
}

.selection-pane .selection-pane-card-actions
{
  padding-bottom: 1em;
  flex-wrap: wrap;
}

.selection-pane .loading-spinner {
  position: relative;
}

#uploadButton
{
  display: none;
}

.selection-pane .selection-pane-card-actions button, .FeauxButton, .selection-pane-card-actions span.selection-pane-button
{
  flex-grow: 1;
  margin: 0.5em;
  display: flex;
}

.selection-pane .MuiFab-secondary
{
  color: #ee7b15;
}

.selection-pane .MuiFab-primary
{
  color: white;
}

label.FeauxButton span.selection-pane-button
{
  margin: 0;
}

.Toastify__toast--success
{
  background-color: #ee7b15;
  text-align: center;
}

.pleaseLogin
{
  width: 100%;
}

.selection-pane .MuiCardHeader-content
{
  width: 100%;
}

.selection-pane .MuiCardHeader-action
{
  position: absolute;
  right: 18px;
}

.selection-pane .login
{
  flex-grow: 1;
}

.selection-pane label.MuiFormControlLabel-root
{
  -webkit-user-select: none;   
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  padding: 0 1em;
}

.selection-pane .polygonProperties
{
  width: 100%;
  list-style: none;
  padding-left: 1em;
}

.selection-pane .polygonProperties li
{
  text-align: left;
}

.selection-pane .polygonProperties li span
{
  font-weight: 900;
  color: #ee7b15;
}